
.wrapper {
  overflow: hidden;
  .label {
    width: 80%;
    float: left;
    font-weight: 700;
  }

  .watchers {
    width: 20%;
    float: right;
    font-weight: 700;
    text-align: right;
    svg {
      margin-top: -0.375rem;
      margin-left: 0.25rem;
    }
  }

  .description {
    float: left;
    width: 100%;
  }
}
